<div class="row">
    <div class="col-md-3"></div>    
    <div class="col-md-6" >
    <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)" >
        <div class="mb-3">
            <label for="adSoyad" class="form-label">Ad SoyAd</label>
            <input formControlName="adSoyad" type="text" class="form-control" id="adSoyad" placeholder="Ad Soyad" [ngClass]="{'is-invalid': submitted && component.adSoyad.errors}">
            <div *ngIf="submitted && component.adSoyad.errors?.required" class="form-text text-muted invalid-feedback" >Lütfen ad soyadı boş geçmeyiniz..</div>
            <div *ngIf="submitted && (component.adSoyad.errors?.maxlength || component.adSoyad.errors?.minlength)" class="form-text text-muted invalid-feedback" >Lütfen ad soyadı 2 ile 25 karakter aralığında giriniz..</div>
          </div>
        <div class="mb-3">
            <label for="kullaniciAdi" class="form-label">Kullanıcı Adı</label>
            <input formControlName="kullaniciAdi" type="text" class="form-control" id="kullaniciAdi" placeholder="Kullanıcı Adı" [ngClass]="{'is-invalid': submitted && component.kullaniciAdi.errors}">
            <div *ngIf="submitted && component.kullaniciAdi.errors?.required" class="form-text text-muted invalid-feedback" >Lütfen kullanıcı adını boş geçmeyiniz..</div>
          </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control" placeholder="Email" [ngClass]="{'is-invalid': submitted && component.email.errors}">
      <div *ngIf="submitted && component.email.errors?.required" class="form-text text-muted invalid-feedback" >Lütfen email'i boş geçmeyiniz..</div>
      <div *ngIf="submitted && component.email.errors?.email" class="form-text text-muted invalid-feedback" >Lütfen geçerli bir email giriniz..</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Şifre</label>
      <input formControlName="sifre" type="password" class="form-control" id="password" placeholder="Şifre" [ngClass]="{'is-invalid': submitted && component.sifre.errors}">
      <div *ngIf="submitted && component.sifre.errors?.required" class="form-text text-muted invalid-feedback" >Lütfen şifreyi boş geçmeyiniz..</div>
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Şifre Tekrar</label>
        <input formControlName="sifreTekrar" type="password" class="form-control" id="password2" placeholder="Şifre Tekrar" [ngClass]="{'is-invalid': submitted && component.sifreTekrar.errors}">
        <div *ngIf="submitted && component.sifreTekrar.errors?.required" class="form-text text-muted invalid-feedback" >Lütfen şifreyi boş geçmeyiniz..</div>
        <div *ngIf="submitted && frm.hasError('notSame')" >Lütfen şifreyi doğru giriniz..</div>
      </div>
    <div class="mb-3 form-check">
      
    </div>
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
  </form>
</div>
<div class="col-md-3"></div>
</div>