<div class="row">
    <div class="col-md-3"></div>    
    <div class="col-md-6" >
        <div class="mb-3">
            <label for="userName" class="form-label">Kullanıcı Adı</label>
            <input #txtUserNameOrEmail  type="text" class="form-control" id="userName" placeholder="Kullanıcı Adı & Email" >
            <div class="form-text text-muted invalid-feedback" >Lütfen ad soyadı boş geçmeyiniz..</div>
          </div>
        

    <div class="mb-3">
      <label for="password" class="form-label">Şifre</label>
      <input #txtPassword type="password" class="form-control" id="password" placeholder="Şifre" >
      <div  class="form-text text-muted invalid-feedback" >Lütfen şifreyi boş geçmeyiniz..</div>
    </div>

    	<div style="float: left;padding: 0 5px 0 0; cursor: pointer;">
        <asl-google-signin-button></asl-google-signin-button>
      </div>
    
    <div style="cursor: pointer;">
      <img src="../../../../assets/facebook.png" width="32px" height="32px" (click)="facebookLogin()" />
    </div>
 
    <button (click)="Login(txtUserNameOrEmail.value,txtPassword.value)" type="submit" class="btn btn-primary" style="margin-top:3px;">Giriş Yap</button>

    <a class="btn btn-secondary" style="margin-top:3px; margin-left: 3px;" routerLink="/password-reset">Şifremi Unuttum</a>
</div>
<div class="col-md-3"></div>
</div>
